body {
  font-family: "Poopins", sans-serif;
  background-color: blue;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-col {
  grid-template-columns: 1fr 1fr;
}

.grid-3-col {
  grid-template-columns: 1fr 2fr 2fr;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  margin: 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 3px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: white;
  text-decoration: none;
  color: black;
  padding: 16px 32px;
  margin-top: 50px;
  display: inline-block;
  border-radius: 5px;
}

main {
  background-color: white;
}

main h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: black;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}

main h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: black;
  margin: 0;
}

main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: black;
  opacity: 0.7;
}

img {
  height: 530px;
  width: auto;
}

.img-res {
  max-width: 100%;
  padding-top: 30px;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 255, 0.7), rgba(0, 0, 255, 0.7)),
    url("../images/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.9;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
  line-height: 1.5;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 36px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }
}
